<!doctype html>


<html lang="en" class="no-js">
<head>
	<title>EWJSeidel | Web Developer</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header>
			<div class="logo-box">
				<a class="logo" href="index"><img alt="" src="images/logo.png"></a>
			</div>

			<a class="elemadded responsive-link" href="#">Menu</a>

			<div class="menu-box">
				<ul class="menu">
					<li><a href="/"><span>Home</span></a></li>
					<li><a href="/portfolio"><span>Portfolio</span></a></li>
					<li class="drop"><a href="#"><span>Projects</span></a>
						<ul class="drop-down">
							<li class="drop"><a href="#"><span>Spanx</span></a>
								<ul class="drop-down">
									<li><a href="projects/spanx"><span>Spanx E-Commerce</span></a></li>
									<li><a href="projects/sara-blakely-foundation"><span>Sara Blakely Foundation</span></a></li>
									<li><a href="projects/belly-art-project"><span>Belly Art Project</span></a></li>
									<li><a href="projects/saras-notebook"><span>Sara's Notebook</span></a></li>
								</ul>
							</li>
							<li class="drop"><a href="#"><span>electroCore</span></a>
								<ul class="drop-down">
									<li><a href="projects/gammacore"><span>gammaCore</span></a></li>
									<li><a href="projects/gammacare-direct"><span>gammaCare Direct</span></a></li>
									<li><a href="projects/electrocore"><span>electroCore Corporate Site</span></a></li>
									<li><a href="projects/gammacore-uk"><span>gammaCore UK</span></a></li>
								</ul>
							</li>
							<li><a href="projects/seapak"><span>Seapak</span></a></li>
							<li><a href="projects/carvel"><span>Carvel</span></a></li>
							<li class="drop"><a href="#"><span>Flowers Foods</span></a>
								<ul class="drop-down">
									<li><a href="projects/natures-own"><span>Nature's Own</span></a></li>
									<li><a href="projects/cobblestone"><span>Cobblestone</span></a></li>
								</ul>
							</li>
							<li><a href="projects/otiprio"><span>Otiprio</span></a></li>
							<li><a href="projects/emflaza"><span>Emflaza</span></a></li>
						</ul>
					</li>
					<li><a href="/about"><span>About</span></a></li>

					<li><a href="/contact"><span>Contact</span></a></li>
				</ul>
			</div>

			<div class="social-box">
				<ul class="social-icons">

					<li><a href="https://www.linkedin.com/in/ewjseidel/" class="linkedin" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://bitbucket.org/%7B322f8aac-a6a7-4040-b0fa-046c613bc406%7D/" class="github" target="_blank" ><i class="fa fa-bitbucket"></i></a></li>
				</ul>

			</div>
		</header>
		<!-- End Header -->
