<%- include('partials/header') %>
		<!-- content
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="about-page">

					<div class="about-box">
						<div class="about-content">
							<div class="about-section">
								<div class="profile-image">
								    <img alt="" src="images/ewjs_profile.jpg">
								</div>
								<h1>About me</h1>
								<p>
									Hello!  My name is Eric Seidel.  What I would love for you to learn about me is that I love what I do.  <br><br>

									I first discovered development five years ago when asked to build a website for a friend.  As I worked on that project, I quickly fell in love with coding.  The challenge of perfecting code, implementing the creative vision and bringing digital life to my friends business were all immensely rewarding to me.  Afterwards, I knew I found my professional calling.  <br> <br>

									Since then, I have worked tirelessly to grow and perfect my craft as a developer.  Throughout my career, I have created, deployed and managed websites, using PHP, MySQL, API integration methods, the WordPress CMS and essential front end skills such as HTML, CSS and JavaScript.  I have served on numerous project teams as a developer, mainly responsible for consulting, digital strategy, project planning, implementation and deployment.  I have collaborated with designers and UX specialists to build websites with the goal of producing an optimal experience for the client’s users.  I have built many WordPress websites from scratch by building my own themes in HTML, CSS and JavaScript to perfectly match the creative team’s goals for the project and client.  I have used PHP, MySQL and API integration methods to create efficient, data-driven functionality to strengthen the effectiveness of web applications.  Being the developer on many projects, I was often responsible for deploying the final project to production environments, while managing client domain settings and hosting.
									<br><br>
									With that, I'm confident I can provide solutions for any technical business need. I have contributed to numerous projects from start to finish beginning with planning and strategy, on to implementation and deployment.  <br> <br>

									<a href="contact.html">Send me a message</a> and let's get to work!
								</p>
							</div>

						</div>
						<div class="sidebar">
							<div class="skills-progress">
								<h1>Technical Skills</h1>
								<p>HTML/CSS <span>Strong</span></p>
								<div class="meter nostrips frontend">
									<span style="width: 95%"></span>
								</div>
								<p>JavaScript/jQuery <span>On Point</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 80%"></span>
								</div>
								<p>Wordpress <span>On Point</span></p>
								<div class="meter nostrips wp">
									<span style="width: 80%"></span>
								</div>
								<p>PHP <span>Comfortable</span></p>
								<div class="meter nostrips wp">
									<span style="width: 70%"></span>
								</div>
								<p>Angular <span>Coming Along</span></p>
								<div class="meter nostrips plugins">
									<span style="width: 40%"></span>
								</div>
							</div>

							<div class="testimonial">
								<h1>Client Testimonials</h1>
								<ul>
									<li>
										<div class="client-test">
											<h3>Kate W. - Project Manager for gammaCore</h3>
										</div>
										<p>"Eric is hands-down the most talented, trustworthy and personable developer I’ve worked with throughout the 10 years I’ve spent in the agency world."</p>
									</li>

								</ul>
							</div>

							<div class="services">
								<h1>Services</h1>
								<ul>
									<li><a href="#">Website Builds</a></li>
									<li><a href="#">E-commerce</a></li>
									<li><a href="#">Web Apps</a></li>
									<li><a href="#">Mobile Apps</a></li>
									<li><a href="#">Website Maintenance</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<div class="preloader">
		<img alt="" src="images/preloader.gif">
	</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="js/jquery.quovolver.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>

	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.js"></script>


</body>
</html>
