<%- include('partials/header') %>
		<!-- content
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="home-page">

					<div class="bgimg-1" style="background-image: url('images/hero_background.png')">

					  <div class="hero-caption">
							<span id="hero-line-1">Hello!  I'm Eric.</span> <br>
							<span id="typeText-hero"></span>
					  </div>

						<!-- <div class="btn-container">
							<div class="main-button">
								<a href="#about_me">See More</a>
								<i class="fa fa-chevron-down" style="margin-left: 10px;margin-top: 10px;"></i>
							</div>
						</div> -->
					</div>

					<div class="home_info">
						<div id="about_me">

						  <h2 class="center">About Me</h2>
							<h3 class="center">Fusing Passion With Technology and Enterprise</h3>
						  <p>As a Web Developer, I love what I do.  But I also love bringing people's passions and ideas to life.  Developing web and mobile experiences is not just a means to an end. For me, it's an art. Taking the time to craft creativity and business into a seamless whole using web and mobile technologies is exciting and a thing of beauty: an art form. I never want to stop putting that into practice.</p>
							<p>I also place high value on work that's grounded in people's passions.  I love supporting endeavors that empower those passions to life.  Do you have a business idea or technology need for your endeavors?  Let me support you in that initiative by bringing it to life using web and mobile technologies.</p>

						</div>

					</div>

					<div class="bgimg-2" style="background-image: url('/images/code.jpg')">
					  <div class="caption">
					    <span class="border" id="typeTextServices"></span>
					  </div>
					</div>

					<div class="home_info" style="">
						<div class="serviceskills_inner">

						<div class="col-sm-12" id="services">

						  	<h2 class="center">Services Provided</h2>

								<div class="services-offer col-sm-12">
									<div class="col-md-push-0 col-md-4 col-sm-push-2 col-sm-8">
										<h4>Websites</h4>
										<p>Website builds or website maintenance using WordPress, Drupal or standard HTML and/or PHP.</p>
									</div>
									<div class="col-md-push-0 col-md-4 col-sm-push-2 col-sm-8">
										<h4>Ecommerce</h4>
										<p>Ecommerce development utilizing WooCommerce, Shopify or Magento.</p>
									</div>
									<div class="col-md-push-0 col-md-4 col-sm-push-2 col-sm-8">
										<h4>Web Apps</h4>
										<p>Building single page web applications using the latest version of the Angular javascript framework. </p>
									</div>
								</div>
							</div>

							<hr>

							<div class="col-sm-12" id="skills">
								<h2 class="center">Technical Skills</h2>

								<div class="services-offer col-sm-12">
									<div class="skillsBlock col-sm-6 col-md-4">
										<h4>PhotoShop/Sketch</h4>
										<p>Understanding of essential design software to assist creative-developer handoff </p>
									</div>
									<div class="skillsBlock col-sm-6 col-md-4">
										<h4>HTML 5 / CSS 3</h4>
										<p>Building responsive websites using media queries and responsive grid systems</p>
									</div>
									<div class="skillsBlock col-sm-6 col-md-4">
										<h4>JavaScript / jQuery</h4>
										<p>Enhancing beautifully crafted sites with the most popular JS library. </p>
									</div>

									<div class="skillsBlock col-sm-6 col-md-4">
										<h4>Angular / Ionic</h4>
										<p>Using the latest front-end technology to build single-page web applications and hybrid mobile apps. </p>
									</div>
									<div class="skillsBlock col-sm-6 col-md-4">
										<h4>PHP / MySQL</h4>
										<p>Constructing efficient web applications with databases storage and cross-platform access. </p>
									</div>
									<div class="skillsBlock col-sm-6 col-md-4">
										<h4>API's</h4>
										<p>Experience using RESTful and token based API's to enhance applications with live data. </p>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="bgimg-4" style="background-image: url('/images/overview.png')">
						<div class="caption">
					    <span class="border" id="typeTextPortfolio"></span>
					  </div>
					</div>

					<div class="home_info">
						<div id="portfolio-block">

						  <h2>My Work</h2>
							<h3>Brands I've worked with</h3>
							<div class="btn-container col-sm-12">
								<div class="main-button">
									<a href="portfolio">See More</a>
									<i class="fa fa-chevron-right" style="margin-left: 10px;"></i>
								</div>
							</div>

						  <div class="home-brand-icon col-sm-6 col-md-4">
						  	<img src="images/brands/spanx.png" alt="">
						  </div>
							<div class="home-brand-icon col-sm-6 col-md-4">
						  	<img src="images/brands/seapak.png" alt="">
						  </div>
							<div class="home-brand-icon col-sm-6 col-md-4">
						  	<img src="images/brands/carvel.png" alt="">
						  </div>
							<div class="home-brand-icon col-sm-6 col-md-4">
						  	<img src="images/brands/gaq.png" alt="">
						  </div>
							<div class="home-brand-icon col-sm-6 col-md-4">
						  	<img src="images/brands/NaturesOwn.png" alt="">
						  </div>
							<div class="home-brand-icon col-sm-6 col-md-4">
						  	<img src="images/brands/Cobblestone.png" alt="">
						  </div>




						</div>
					</div>

					<div class="bgimg-5" style="background-image: url('/images/collaborating.png')">
						<div class="caption">
					    <span class="border" id="typeTextConnect"></span>
					  </div>
					</div>

					<div class="home_info">

						<div class="contact-box-container">

							<div class="contact-box">
								<div class="contact-info">
									<h1>Get in touch</h1>
									<p>Got an idea for an app or need help with a website?  Send me a message and lets get to work!</p>
								</div>
								<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
								<script>
								hbspt.forms.create({
									portalId: "5651242",
									formId: "3a95fca0-90ab-4dff-9a29-e3168ea929f5"
								});
								</script>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<div class="preloader">
		<img alt="" src="images/preloader.gif">
	</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="js/jquery.quovolver.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>

	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.js"></script>

	<script type="text/javascript" src="js/typewriter.min.js"></script>

	<script type="text/javascript">

	function isInView(elem) {
	    return ((jQuery(elem).offset().top) - jQuery(window).height()) < (jQuery(window).scrollTop());
	}

	var typeText = document.getElementById('typeText-hero');
	var typeTextServices = document.getElementById('typeTextServices');
	var typeTextPortfolio = document.getElementById('typeTextPortfolio');
	var typeTextConnect = document.getElementById('typeTextConnect')

		var typewriter = new Typewriter(typeText, {
			loop: false
		});

		var typewriterServices = new Typewriter(typeTextServices, {
			loop: true
		});

		var typewriterPortfolio = new Typewriter(typeTextPortfolio, {
			loop: true
		})

		var typewriterConnect = new Typewriter(typeTextConnect, {
			loop:true
		})

		typewriter.typeString('I love to build websites.')
			.pauseFor(2500)
			.deleteChars(9)
			.typeString('ecommerce platforms.')
			.pauseFor(2500)
			.deleteChars(20)
			.typeString('web and mobile apps.')
			.pauseFor(2500)
			.deleteAll()
			.typeString('See my work and lets build something together!')
			.pauseFor(100000)
			.start();

			typewriterServices.typeString('Services and Skills')
				.pauseFor(5000)
				.start();

			typewriterPortfolio.typeString('Portfolio')
				.pauseFor(5000)
				.start();

			typewriterConnect.typeString('Connect with me!')
				.pauseFor(5000)
				.start();



	</script>

</body>
</html>
<!--  typeText-services-->
