<%- include('partials/header') %>
		<!-- content
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="portfolio-page">
					<div class="portfolio-box">

							<div class="project-post wordpress support">
								<img alt="" src="images/brands/Tricentis.png">
								<div class="hover-box">
									<div class="project-title">
										<h2>Tricentis</h2>
										<span>WordPress Developer</span>
										<div><a class="detail" href="projects/tricentis"><i class="fa fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>

							<div class="project-post wordpress support">
								<img alt="" src="images/brands/qasymphony.png">
								<div class="hover-box">
									<div class="project-title">
										<h2>QASymphony</h2>
										<span>WordPress Developer</span>
										<div><a class="detail" href="projects/qasymphony"><i class="fa fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>

							<div class="project-post wordpress support">
								<img alt="" src="images/brands/flood.png">
								<div class="hover-box">
									<div class="project-title">
										<h2>Flood.io</h2>
										<span>WordPress Developer</span>
										<div><a class="detail" href="projects/flood"><i class="fa fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>

							<div class="project-post wordpress support">
								<img alt="" src="images/brands/ClearData.png">
								<div class="hover-box">
									<div class="project-title">
										<h2>ClearData</h2>
										<span>WordPress Developer</span>
										<div><a class="detail" href="projects/cleardata"><i class="fa fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>

							<div class="project-post wordpress support">
								<img alt="" src="images/brands/parkmobile.png">
								<div class="hover-box">
									<div class="project-title">
										<h2>Parkmobile</h2>
										<span>WordPress Developer</span>
										<div><a class="detail" href="projects/parkmobile"><i class="fa fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>

							<div class="project-post wordpress support">
								<img alt="" src="images/brands/gaq.png">
								<div class="hover-box">
									<div class="project-title">
										<h2>Georgia Aquarium</h2>
										<span>WordPress Developer</span>
										<div><a class="detail" href="projects/georgia-aquarium"><i class="fa fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>

							<div class="project-post wordpress support">
								<img alt="" src="images/brands/fdoc.png">
								<div class="hover-box">
									<div class="project-title">
										<h2>Florida Department of Citrus</h2>
										<span>WordPress Developer</span>
										<div><a class="detail" href="projects/fdoc"><i class="fa fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>

							<div class="project-post wordpress support">
								<img alt="" src="images/brands/CoreView.png">
								<div class="hover-box">
									<div class="project-title">
										<h2>CoreView</h2>
										<span>WordPress Developer</span>
										<div><a class="detail" href="projects/coreview"><i class="fa fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>


						<div class="project-post wordpress support">
							<img alt="" src="images/brands/sbf.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Sara Blakely Foundation</h2>
									<span>WordPress Developer</span>
									<div><a class="detail" href="projects/sara-blakely-foundation"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post magento support">
							<img alt="" src="images/brands/spanx.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Spanx</h2>
									<span>Front-End Magento Developer</span>
									<div><a class="detail" href="projects/spanx"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress support">
							<img alt="" src="images/brands/BellyArt.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Belly Art Project</h2>
									<span>WordPress Developer</span>
									<div><a class="detail" href="projects/belly-art-project"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress support">
							<img alt="" src="images/brands/sarasNotebook.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Sara's Notebook</h2>
									<span>WordPress Developer</span>
									<div><a class="detail" href="projects/saras-notebook"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress newbuild">
							<img alt="" src="images/brands/gammaCore.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>gammaCore</h2>
									<span>WordPress Developer</span>
									<div><a class="detail" href="projects/gammacore"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress newbuild">
							<img alt="" src="images/brands/gammaCare.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>gammaCare</h2>
									<span>Web Developer</span>
									<div><a class="detail" href="projects/gammacare-direct"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress support">
							<img alt="" src="images/brands/gammaCoreUK.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>gammaCore UK</h2>
									<span>Web Developer</span>
									<div><a class="detail" href="projects/gammacore-uk"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress support">
							<img alt="" src="images/brands/electroCore.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>electroCore</h2>
									<span>Web Developer</span>
									<div><a class="detail" href="projects/electrocore"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post drupal support">
							<img alt="" src="images/brands/seapak.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Seapak</h2>
									<span>Drupal Developer</span>
									<div><a class="detail" href="projects/seapak"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress support">
							<img alt="" src="images/brands/carvel.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Carvel Ice Cream</h2>
									<span>WordPress Developer</span>
									<div><a class="detail" href="projects/carvel"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post drupal support">
							<img alt="" src="images/brands/NaturesOwn.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Nature's Own Bread</h2>
									<span>Drupal Developer</span>
									<div><a class="detail" href="projects/natures-own"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress support">
							<img alt="" src="images/brands/Cobblestone.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Cobblestone</h2>
									<span>WordPress Developer</span>
									<div><a class="detail" href="projects/cobblestone"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress support">
							<img alt="" src="images/brands/Otiprio.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Otiprio</h2>
									<span>WordPress Developer</span>
									<div><a class="detail" href="projects/otiprio"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post wordpress newbuild">
							<img alt="" src="images/brands/emflaza.png">
							<div class="hover-box">
								<div class="project-title">
									<h2>Emflaza</h2>
									<span>WordPress Developer</span>
									<div><a class="detail" href="projects/emflaza"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<!-- <div class="info-box">
		<a class="info-toggle" href="#"><i class="fa fa-info-circle"></i></a>
		<div class="info-content">
			<ul>
				<li><i class="fa fa-info-circle" aria-hidden="true"></i><a href="about.html">Learn more about Eric</a></li>
				<li><i class="fa fa-envelope"></i><a href="mailto:ewjseidel@gmail.com">ewjseidel@gmail.com</a></li>
				<li><i class="fa fa-envelope"></i><a href="contact.html">Send a message</a></li>

			</ul>
		</div>
	</div> -->

	<div class="preloader">
		<img alt="" src="images/preloader.gif">
	</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>

	<script type="text/javascript" src="js/script.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.js"></script>


</body>
</html>
