/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
	margin: 0 0 18px !important;
	padding: 0;
}

.flexslider .slides {overflow: hidden;}

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1; position: relative;}

.carousel li {margin-right: 5px}


/* Direction Nav */

.flex-direction-nav {
	width: 100%;
	height: 43px;
	display: inline-block;
	position: absolute;
	top:300px;
	margin-top: -21px;
	left: 0;
	cursor: pointer;
	text-align: center;
	opacity: 0;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flexslider:hover .flex-direction-nav {
	opacity: 1;
}

.flex-direction-nav .flex-next {
	width: 43px;
	height: 43px;
	float: right;
	margin-right: 0px;
	background: #006ab4;
	text-decoration: none;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flex-direction-nav .flex-prev {
	width: 43px;
	height: 43px;
	float: left;
	margin-left: 0px;
	background: #006ab4;
	text-decoration: none;
		transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flex-direction-nav .flex-next:after {
	content: '\f105';
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #fff;
	line-height: 43px;
}

.flex-direction-nav .flex-prev:after {
	content: '\f104';
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #fff;
	line-height: 43px;
}

.flexslider .flex-next:hover {
	opacity: 0.8;
}
.flexslider .flex-prev:hover {
	opacity: 0.8;
}


/* Control Nav */
.flex-control-nav {position: absolute; bottom: 30px; right: 30px; display: none; height: 13px;}
.flex-control-nav li {margin: 0 0 0 8px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 21px; height: 13px; display: block; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; border: 1px solid rgba(255,255,255,0.5); }
.flex-control-paging li a:hover { opacity:0.9; }
.flex-control-paging li a.flex-active { background: rgba(32, 103, 179, 1.00); cursor: default;  border: 1px solid rgba(0,0,0,0.8);}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.single-box-content .flex-direction-nav {
	display: block;
}

.single-box-content .flex-control-nav {
	display: block;
}
