<%- include('header') %>

		<!-- content
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="single-project">

					<div class="single-box">
						<div class="single-box-content">
							<div class="project-post-content">

								<div class="flexslider">
									<ul class="slides">
										<li>
											<a href="../images/screenshots/electroCore/homePage.png" data-fancybox data-caption="Lead developer on client's corporate site rebuild.">
												<img alt="" src="../images/screenshots/electroCore/homePage.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/electroCore/timeline.png" data-fancybox data-caption="Worked with UX specialists, web designers, project team and client on key business and user goals for website build.">
												<img alt="" src="../images/screenshots/electroCore/timeline.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/electroCore/newsEvents.png" data-fancybox data-caption="Managed team of developers by coordinating coding responsibilities and efficient version control.">
												<img alt="" src="../images/screenshots/electroCore/newsEvents.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/electroCore/therapeuticAreas.png" data-fancybox data-caption="Created and implemented digital strategy for project team.">
												<img alt="" src="../images/screenshots/electroCore/therapeuticAreas.png" />
											</a>
										</li>


									</ul>
								</div>


							</div>
						</div>
						<div class="sidebar">
							<div class="post-info">
								<h1>Project Info</h1>
								<ul>
									<li>
										<span><i class="fa fa-user"></i></span><a href="#">electroCore</a>
									</li>
									<li>
										<span><i class="fa fa-calendar"></i></span><a href="#">October 2017 to present</a>
									</li>
									<li>
										<span><i class="fa fa-link"></i></span><a href="http://electrocore.com/" target="_blank">http://electrocore.com/</a>
									</li>
								</ul>
							</div>

							<div class="project-feature">
								<h1>Project Features</h1>
								<ul>
									<li>
										Front-End Development
									</li>
									<li>
										HTML/CSS
									</li>
									<li>
										JavaScript/jQuery
									</li>
									<li>
										WordPress
									</li>
									<li>
										PHP
									</li>
									<li>Launch scheduled for January 2018</li>
								</ul>
							</div>

							<div class="similar-projects">
								<h1>Similar Projects</h1>
								<div class="portfolio-box">
                  <div class="project-post">
										<img alt="" src="../images/brands/gammaCore.png">
										<div class="hover-box">
											<div class="project-title">
												<h4>gammaCore</h4>
												<div><a href="gammacore"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>

                  <div class="project-post">
										<img alt="" src="../images/brands/gammaCare.png">
										<div class="hover-box">
											<div class="project-title">
												<h4>gammaCare Direct</h4>
												<div><a href="gammacare-direct"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<div class="preloader">
		<img alt="" src="../images/preloader.gif">
	</div>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery.migrate.js"></script>
	<script type="text/javascript" src="../js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="../js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="../js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.js"></script>


</body>
</html>
