<%- include('header') %>

		<!-- content
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="single-project">

					<div class="single-box">
						<div class="single-box-content">
							<div class="project-post-content">

								<div class="flexslider">
									<ul class="slides">
										<li>
											<a href="../images/screenshots/gammacare/login.png" data-fancybox data-caption="Lead developer on proprietery web application for client's users.">
												<img alt="" src="../images/screenshots/gammacare/login.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/gammacare/dashboard.png" data-fancybox data-caption="Constructed and documented the application API and collaborated with database partners to ensure completion.">
												<img alt="" src="../images/screenshots/gammacare/dashboard.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/gammacare/tracker.png" data-fancybox data-caption="Consulted with client and project stakeholders weekly to ensure alignment on project needs.">
												<img alt="" src="../images/screenshots/gammacare/tracker.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/gammacare/reports.png" data-fancybox data-caption="Worked with project manager, UX designer, web designer and database partners for 8 month in Agile format.">
												<img alt="" src="../images/screenshots/gammacare/reports.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/gammacare/education.png" data-fancybox data-caption="Built API cURL and AJAX templates for development team.">
												<img alt="" src="../images/screenshots/gammacare/education.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/gammacare/userprofile.png" data-fancybox data-caption="Managed team of developers by coordinating coding responsibilities and efficient version control.">
												<img alt="" src="../images/screenshots/gammacare/education.png" />
											</a>
										</li>


									</ul>
								</div>


							</div>
						</div>
						<div class="sidebar">
							<div class="post-info">
								<h1>Project Info</h1>
								<ul>
									<li>
										<span><i class="fa fa-user"></i></span><a href="#">electroCore</a>
									</li>
									<li>
										<span><i class="fa fa-calendar"></i></span><a href="#">January 2017 to June 2017</a>
									</li>
									<li>
										<span><i class="fa fa-link"></i></span><a href="http://gammacare.com/" target="_blank">http://gammacare.com/</a>
									</li>
								</ul>
							</div>

							<div class="project-feature">
								<h1>Project Features</h1>
								<ul>
									<li>
										Front-End Development
									</li>
									<li>
										HTML/CSS
									</li>
									<li>
										JavaScript/jQuery
									</li>
									<li>
										WordPress
									</li>
									<li>
										PHP
									</li>
									<li>
										API Integration
									</li>
									<li>
										UX/UI
									</li>
								</ul>
							</div>

							<div class="similar-projects">
								<h1>Similar Projects</h1>
								<div class="portfolio-box">
									<div class="project-post">
										<img alt="" src="../images/brands/gammaCore.png">
										<div class="hover-box">
											<div class="project-title">
												<h4>gammaCore</h4>
												<div><a href="gammacore"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>

									<div class="project-post">
										<img alt="" src="../images/brands/electroCore.png">
										<div class="hover-box">
											<div class="project-title">
												<h4>electroCore Corporate Site</h4>

												<div><a href="electrocore"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<div class="preloader">
		<img alt="" src="../images/preloader.gif">
	</div>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery.migrate.js"></script>
	<script type="text/javascript" src="../js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="../js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="../js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.js"></script>


</body>
</html>
