<%- include('header') %>

		<!-- content
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="single-project">

					<div class="single-box">
						<div class="single-box-content">
							<div class="project-post-content">

								<div class="flexslider">
									<ul class="slides">
										<li>
											<a href="../images/screenshots/otiprio/homePage.png" data-fancybox data-caption="Managed client website by building several pages and making regular updates.">
												<img alt="" src="../images/screenshots/otiprio/homePage.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/otiprio/oticDrops.png" data-fancybox data-caption="Built entire page.">
												<img alt="" src="../images/screenshots/otiprio/oticDrops.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/otiprio/formPage.png" data-fancybox data-caption="Managed form, made updates, added/removed fields upon request and ensured all field erros fired correctly.">
												<img alt="" src="../images/screenshots/otiprio/formPage.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/otiprio/patientPage.png" data-fancybox data-caption="Built entire page.">
												<img alt="" src="../images/screenshots/otiprio/patientPage.png" />
											</a>
										</li>
										<li>
											<a href="../images/screenshots/otiprio/reimbursement.png" data-fancybox data-caption="Completely renovated this page.">
												<img alt="" src="../images/screenshots/otiprio/reimbursement.png" />
											</a>
										</li>

									</ul>
								</div>

								<!-- <div class="slider">
									<a href="upload/photo1.jpg" data-fancybox data-caption="My caption">
										<img src="upload/photo1.jpg" alt="">
									</a>
									<a href="upload/photo1.jpg" data-fancybox data-caption="My caption">
										<img src="upload/photo1.jpg" alt="">
									</a>
									<a href="upload/photo1.jpg" data-fancybox data-caption="My caption">
										<img src="upload/photo1.jpg" alt="">
									</a>
									<a href="upload/photo1.jpg" data-fancybox data-caption="My caption">
										<img src="upload/photo1.jpg" alt="">
									</a>
								</div> -->


							</div>
						</div>
						<div class="sidebar">
							<div class="post-info">
								<h1>Project Info</h1>
								<ul>
									<li>
										<span><i class="fa fa-user"></i></span><a href="#">Otonomy</a>
									</li>
									<li>
										<span><i class="fa fa-calendar"></i></span><a href="#">December 2016 to Novemver 2017</a>
									</li>
									<li>
										<span><i class="fa fa-link"></i></span><a href="https://otiprio.com/" target="_blank">https://otiprio.com/</a>
									</li>
								</ul>
							</div>

							<div class="project-feature">
								<h1>Project Features</h1>
								<ul>
									<li>
										Front-End Development
									</li>
									<li>
										HTML/CSS
									</li>
									<li>
										JavaScript/jQuery
									</li>
									<li>
										WordPress
									</li>
									<li>
										PHP
									</li>
								</ul>
							</div>

							<div class="similar-projects">
								<h1>Similar Projects</h1>
								<div class="portfolio-box">
									<div class="project-post">
										<img alt="" src="../images/brands/gammaCore.png">
										<div class="hover-box">
											<div class="project-title">
												<h4>gammaCore</h4>
												<span>WordPress Developer for electroCore.</span>
												<div><a href="gammacore"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>

									<div class="project-post">
										<img alt="" src="../images/brands/gammaCare.png">
										<div class="hover-box">
											<div class="project-title">
												<h4>gammaCare Direct</h4>
												<span>WordPress Developer for electroCore.</span>
												<div><a href="gammacare-direct"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<div class="preloader">
		<img alt="" src="../images/preloader.gif">
	</div>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery.migrate.js"></script>
	<script type="text/javascript" src="../js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="../js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="../js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.js"></script>


</body>
</html>
