<%- include('header') %>

		<!-- content
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="single-project">

					<div class="single-box">
						<div class="single-box-content">
							<div class="project-post-content">

								<div class="flexslider">
									<ul class="slides">
										<li>
											<a href="../images/screenshots/sarablakelyfoundation/homePage.png" data-fancybox data-caption="Managed homepage template by adding new copy, updating page structure, updating videos and adding new images">
												<img alt="" src="../images/screenshots/sarablakelyfoundation/homePage.png" />
											</a>
										</li>

									</ul>
								</div>

								<!-- <div class="slider">
									<a href="upload/photo1.jpg" data-fancybox data-caption="My caption">
										<img src="upload/photo1.jpg" alt="">
									</a>
									<a href="upload/photo1.jpg" data-fancybox data-caption="My caption">
										<img src="upload/photo1.jpg" alt="">
									</a>
									<a href="upload/photo1.jpg" data-fancybox data-caption="My caption">
										<img src="upload/photo1.jpg" alt="">
									</a>
									<a href="upload/photo1.jpg" data-fancybox data-caption="My caption">
										<img src="upload/photo1.jpg" alt="">
									</a>
								</div> -->


							</div>
						</div>
						<div class="sidebar">
							<div class="post-info">
								<h1>Project Info</h1>
								<ul>
									<li>
										<span><i class="fa fa-user"></i></span><a href="#">Spanx</a>
									</li>
									<li>
										<span><i class="fa fa-calendar"></i></span><a href="#">May 2016 to November 2016</a>
									</li>
									<li>
										<span><i class="fa fa-link"></i></span><a href="http://www.sarablakelyfoundation.com/" target="_blank">www.sarablakelyfoundation.com</a>
									</li>
								</ul>
							</div>

							<div class="project-feature">
								<h1>Project Features</h1>
								<ul>
									<li>
										Front-End Development
									</li>
									<li>
										HTML/CSS
									</li>
									<li>
										JavaScript/jQuery
									</li>
									<li>
										WordPress
									</li>
									<li>
										PHP
									</li>
								</ul>
							</div>

							<div class="similar-projects">
								<h1>Similar Projects</h1>
								<div class="portfolio-box">
									<div class="project-post">
										<img alt="" src="../images/brands/BellyArt.png">
										<div class="hover-box">
											<div class="project-title">
												<h4>Belly Art Project</h4>

												<div><a href="belly-art-project"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>

									<div class="project-post">
										<img alt="" src="../images/brands/sarasNotebook.png">
										<div class="hover-box">
											<div class="project-title">
												<h4>Sara's Noteboook</h4>

												<div><a href="saras-notebook"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<div class="preloader">
		<img alt="" src="../images/preloader.gif">
	</div>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery.migrate.js"></script>
	<script type="text/javascript" src="../js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="../js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="../js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.js"></script>


</body>
</html>
